* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#body-fake {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-img {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
    pointer-events: none;
    filter: brightness(0.5) saturate(0);

}

header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: start;
    position: relative;
    z-index: 1;
}

header img {
    scale: 0.7;
    margin-top: 2%;
    margin-left: 2%;
    width: 12%;
    cursor: pointer;
}

.Principal {
    width: 100%;
    display: flex;
    position: relative;
    height: 100%;
    z-index: 1;
    justify-content: center;
}

.calc-box {
    width: 330px;
    height: 50%;
    padding: 25px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}

.calc-box h1 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.calc-box label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

.calc-box input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.calc-box button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background-color: #008cff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.calc-box button:hover {
    background-color: #006dcc;
}

#resultado {
    margin-top: 20px;
    font-size: 17px;
}
